@import "src/styles/variables";
@import "src/styles/mixins";

.Services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  padding: $header-scrolled-height*2 $header-scrolled-height $header-scrolled-height;

  @include mobile {
    background: rgba($main_bg, 0.9);
    padding: $header-scrolled-height/2;
  }

  > .header {
    width: 100%;
    max-width: $max-width;

    @include desktop {
      margin: auto;
      border: none;
      text-align: left;
    }
  }
  > .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: $max-width;
    position: relative;

    @include mobile {
      //backdrop-filter: blur(5px);
      flex-direction: column-reverse;
    }

    > .text {
      width: 50%;
      margin: $header-scrolled-height 0 0 auto;
      font-size: 1.2rem;

      @include mobile {
        margin-top: 20px;
        width: 100%;
      }

      > .residents li {
        margin-bottom: 1rem;
      }
    }
    > .mosque {
        width: 50%;
        height: 100%;

        @include mobile {
          width: 100%;
          position: absolute;
          z-index: -1;
          top: 64%;
          left: 20%;
        }
      > svg {
        margin-left: -25%;
        width: 120%;
      }
    }
  }
}
