.Services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 64px;

  > .text {
    text-align: center;
    font-size: 2em;
    padding: 1rem;
  }
}
