@import "src/styles/variables";
@import "src/styles/mixins";

.Services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: 100px;
  position: relative;

  padding: $header-scrolled-height*2 $header-scrolled-height $header-scrolled-height;

  @include mobile {
    padding: $header-scrolled-height $header-scrolled-height/2 $header-scrolled-height/2;
  }

  > .header {
    width: 100%;
    max-width: $max-width;
    margin: auto;
    border: none;
    text-align: right;
  }

  > .text {
    max-width: 600px;
    margin: $header-scrolled-height 0 0 auto;
    font-size: 1.2rem;

    > .residents li {
      margin-bottom: 1rem;
    }
  }

  > .divider {
    width: 100%;
    //position: absolute;
    //width: 100%;
    //top: -80px;
    //left: 0;

    > svg {
      width: 100%;
      height: 100%;

    }
  }
}
