@import "../../styles/mixins";

.Location {
  display: flex;
  height: 100vh;
  padding-top: 64px;
  flex-direction: row;

  @include mobile {
    flex-direction: column;
  };

  > .text {
    text-align: right;
    justify-content: center;
    padding: 1rem 2rem;
    display: flex;
    width: 50%;
    flex-direction: column;
    flex-basis: 50%;

    @include mobile {
      width: 100%;
    }
  }

  > .map {
    flex-basis: 50%;
  }
}
