@import "src/styles/mixins";

.Hero {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  > .content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(#fff, 0.5);

    > .logo {
      display: block;
      width: 60vw;
      pointer-events: none;
      overflow: hidden;
      position: relative;
      margin-top: 3rem;

      > img {
        height: 100%;
        width: 100%;
      }
    }

    > .social {
      display: flex;
      justify-content: space-around;
      margin: 3rem 0;

      > a {
        @include transition();

        display: flex;
        width: 60px;
        height: 60px;
        align-items: center;
        justify-content: center;
        color: #000;
        margin: 0 1.5rem;
        opacity: 0.9;

        img {
          display: block;
          width: 100%;
        }

        &:hover {
          opacity: 1;
          transform: scale(1.1);
        }
      }
    }
  }
  .parallax {
    position: absolute;
    height: 100vh;
    width: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    overflow: visible;

    > .layer {
      position: absolute;
      width: 100%;
      > img {
        width: 100%;
      }
    }

    .sky {
      left: -100px;
      right: -100px;
      width: calc(100% + 200px);
      z-index: -10;
      opacity: 0;

      @include mobile {
        animation: fadeInDownMobile 1.5s linear forwards;
      }
      @include desktop {
        animation: fadeInDown 1.5s linear forwards;
      }
    }

    @keyframes fadeInDown {
      0% {
        opacity: 0;
        top: -300px;
      }
      100% {
        opacity: 1;
        top: -100px;
      }
    }
    @keyframes fadeInDownMobile {
      0% {
        opacity: 0;
        top: -300px;
      }
      100% {
        opacity: 1;
        top: 0;
      }
    }

    .mountains {
      left: -100px;
      right: -100px;
      width: calc(100% + 200px);

      z-index: -2;
      opacity: 0;
      animation-delay: 1.5s;

      @include mobile {
        animation: fadeInUpMobile 1s linear forwards;
        width: 100%;
        left: 0;
        right: 0;
      }
      @include desktop {
        filter: brightness(70%);
        animation: fadeInUp 1.2s linear forwards;
      }
    }

    @keyframes fadeInUp {
      0% {
        opacity: 0.5;
        bottom: -200px;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 1;
        bottom: 4%;
      }
    }

    @keyframes fadeInUpMobile {
      0% {
        opacity: -100px;
        bottom: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 1;
        bottom: 4%;
      }
    }

    .foreground {
      left: -100px;
      right: -100px;
      width: calc(100% + 200px);
      top: 60%;
      z-index: -1;
      @include desktop {
        opacity: 0;
        animation: fadeInUp 2s linear forwards;
      }

      @include mobile {
        top: 86%;
        width: 100%;
        left: 0;
        right: 0;
      }
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

  }
}
