@import "src/styles/mixins";

.Hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image:
    radial-gradient(at 57% 54%, hsla(256,100%,74%,1) 0, transparent 50%),
    radial-gradient(at 90% 0%, hsla(57,100%,56%,1) 0, transparent 50%),
    radial-gradient(at 0% 50%, hsla(223,85%,93%,1) 0, transparent 50%),
    radial-gradient(at 80% 50%, hsla(208,100%,76%,1) 0, transparent 50%),
    radial-gradient(at 0% 100%, hsla(250,100%,77%,1) 0, transparent 50%),
    radial-gradient(at 80% 93%, hsla(110,100%,70%,1) 0, transparent 50%),
    radial-gradient(at 0% 0%, hsla(211,100%,76%,1) 0, transparent 50%);

  > .content {
    padding: 1vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;

    > .logo {
      display: block;
      height: 50vmin;
      width: 50vmin;
      pointer-events: none;
      border-radius: 50%;
      overflow: hidden;
      position: relative;

      &::after {

        animation: shine 1s ease-in-out infinite;
        animation-fill-mode: forwards;
        content: "";
        position: absolute;
        top: -110%;
        left: -210%;
        width: 200%;
        height: 200%;
        opacity: 0;
        transform: rotate(30deg);

        background: rgba(255, 255, 255, 0.13);
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0.13) 0%,
          rgba(255, 255, 255, 0.13) 77%,
          rgba(255, 255, 255, 0.5) 92%,
          rgba(255, 255, 255, 0.0) 100%
        );
      }

      > img {
        height: 100%;
        width: 100%;
      }
    }

    > .social {
      display: flex;
      justify-content: space-between;
      margin: 2rem 0;

      > a {
        @include transition();
        width: 10vmin;
        color: white;
        margin: 0 1rem;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

@keyframes shine{
  10% {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }
  100% {
    opacity: 0;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
  }
}
