@import 'mixins';
@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: #000;
}

.App {
  position: relative;
  overflow: hidden;
  background: var(--main_bg);
}

.navbar {
  position: fixed;
  height: 100vh;
  z-index: 4;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba($main_bg, 0.5);
  backdrop-filter: blur(5px);

  > .item {
    @include font-variant(24, 32, normal, 600);
    font-family: 'Avenir Next Bold', system-ui, Roboto, serif;
    margin: 1rem;

    > .link {
      cursor: pointer;
      color: var(--mine_shaft);

      &.-active {
        text-decoration: underline;
      }
    }
  }
}
