@import "src/styles/mixins";
@import "src/styles/variables";

.OrderForm {
  > .form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 1rem auto 2rem;

    @include mobile {
      padding: 1rem;
    }

    > label {
      > p {
        margin: 0;
        font-size: 0.9rem;
        font-weight: bold;

        > .error {
          color: #9e0303;
          font-size: 0.9rem;
        }
      }
      > input,
      > select,
      > textarea {
        @include  transition;

        font-size: 1rem;
        font-family: 'Avenir Next Regular', system-ui, Roboto, serif;
        margin: 8px 0;
        width: 100%;
        padding: 8px;
        border-radius: 6px;
        resize: none;
        box-sizing: border-box;
        border: none;
        background: rgba($main_bg, 0.3);
        backdrop-filter: blur(5px);
        outline: none;
        box-shadow: inset 1px 1px 2px 1px var(--corduroy);

        &:active,
        &:focus {
          background-color: rgba($shadow_green, 0.5);
        }
      }

      > textarea {
        height: 180px;
      }

      > .combined {
        display: flex;
        flex-direction: row;
        > input,
        > select {
          font-size: 1rem;
          font-family: 'Avenir Next Regular', system-ui, Roboto, serif;
          margin: 8px 0;
          width: 100%;
          padding: 8px;
          resize: none;
          box-sizing: border-box;
          border: none;
          background: rgba($main_bg, 0.3);
          backdrop-filter: blur(5px);
          outline: none;
          box-shadow: inset 1px 1px 2px 1px var(--corduroy);
          &:active,
          &:focus {
            background-color: rgba($shadow_green, 0.5);
          }
        }
        > select {
          border-radius: 6px 0 0 6px;
          width: 30%;
        }

        > input {
          border-radius: 0 6px 6px 0;
        }
      }
    }

    > .send {
      @include button;
    }
  }

  > .success {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 340px;
    background: rgba($main_bg, 0.9);
    padding: $header-scrolled-height/2;
  }
}