@import "src/styles/variables";
@import "src/styles/mixins";

.About {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: $max-width;
  position: relative;
  margin: auto;
  padding: $header-scrolled-height*2 $header-scrolled-height $header-scrolled-height;

  @include mobile {
    background: rgba($main_bg, 0.9);
    padding: $header-scrolled-height/2;
  }

  > .header {
    width: 100%;
    margin-top: $header-scrolled-height;
    max-width: 800px;
  }

  > .stroke {
    height: 2px;
    background: var(--mine_shaft);
    @include mobile {
      display: none;
    }
  }

  > .text {
    margin-top: $header-scrolled-height;
    font-size: 1.2rem;
    max-width: 600px;

    @include mobile {
      margin-top: 1rem;
    }
  }

  > .house {
    width: 400px;
    position: absolute;
    right: 0;
    top: 150px;

    @include mobile {
      top: 40%;
      width: 100%;
      z-index: -1;
    }
  }
}
