@import "src/styles/variables";

.About {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  max-width: 1280px;
  overflow: hidden;
  padding: $header-scrolled-height*2 $header-scrolled-height $header-scrolled-height;

  > .header {
    width: 100%;
    margin-top: $header-scrolled-height;
    max-width: 800px;
  }

  > .text {
    margin: auto;
    font-size: 1.2rem;
    max-width: 600px;
    padding: 1rem 4rem;
  }

  > .house {
    font-size: 1.2rem;
    width: 30%;
    position: absolute;
    right: 0;
    top: $header-scrolled-height*2;
  }
}
