@import "src/styles/mixins";
@import "src/styles/variables";

.Backdrop {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background: rgba(var(--shadow_green), 0.8);
  backdrop-filter: blur(10px);
}