@import "src/styles/mixins";
@import "src/styles/variables";

.GiftAnnounce {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 740px;

  h2 {
    margin-bottom: 2rem;
  }
  p {
    margin-bottom: 1rem;
  }

  .lnk {
    @include button;

    color: var(--mine_shaft);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 2rem;

    > svg {
      width: 30px;
      height: 30px;
      margin-left: 10px;
    }
  }
}