@import "../../../styles/mixins";
@import "../../../styles/variables";

.Gift {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--avocado);

  @include mobile {
    flex-direction: column;
  }

  > .image {
    width: 400px;
    border-radius: 4px;
    overflow: hidden;

    @include mobile{
      width: 100%;
    }

    > img {
      width: 100%;
    }
  }

  > .content {
    margin:  0 0 1rem 2rem;

    .card-title {
      font-size: 1.4rem;
      margin-bottom: 1rem;

      > small {
        white-space: nowrap;
      }
    }

    .description {
      font-size: 1rem;
      > li {
        padding: 0;
        list-style-type: none;
        margin-bottom: 1rem;

        svg {
          width: 12px;
          height: 12px;
          margin-right: 6px;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }

    .total {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;

      @include mobile {
        align-items: flex-start;
        flex-direction: column;
      }

      .add {
        cursor: pointer;
        display: flex;
        align-items: center;
        flex-direction: row;

        @include mobile {
          margin-top: 1rem;
        }

        svg {
          width: 30px;
          margin-left: 1rem;
        }
      }

      > .selected {
        display: flex;
        align-items: center;
        cursor: default;
        color: var(--mine_shaft);
        font-weight: bold;
        text-decoration: none;

        @include mobile {
          margin-top: 1rem;
        }

        svg {
          width: 30px;
          height: 30px;
          margin-right: 1rem;
          fill: var(--link);
        }
      }
    }
  }
}

