@import './styles/mixins';
@import './styles/variables';

@include font-face(Avenir Next Regular, '../fonts/AvenirNextCyr-Regular', 400);
@include font-face(Avenir Next Bold, '../fonts/AvenirNextCyr-Bold', 400);

html {
  scroll-behavior: smooth;
}

body {
  @include font-variant(18, 24);

  font-family: 'Avenir Next Regular', system-ui, Roboto, serif;
  margin: 0;
  font-size: 1.2rem;
  color: var(--mine_shaft);
  background: var(--main_bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 , h3 {
  @include font-variant(36, 54, normal, 600);

  font-family: 'Avenir Next Bold', system-ui, Roboto, serif;
  margin-bottom: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
